.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  min-width: 375px;
  justify-content: center;
  z-index: 500;

  &__heading {
    color: $gray;
    font-family: Rubik;
    font-size: 10px;
    font-weight: 700;
    padding-top: 16px;
  }
  &__text {
    color: $dark-gray;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 500;
  }
}

.heading-text-container {
  text-align: center;
}
