.search-bar {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 45px;
  }

  &__bg-image {
    background-image: url("../images/pattern-bg.png");
    background-repeat: none;
    background-position: 50%;
    background-size: cover;
    padding-bottom: 175px;
    padding-top: 150px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__input {
    border-radius: 10px;
    border: none;
    font-size: 16px;
    height: 45px;
    outline: none;
    width: 75%;
    padding-top: 10px;
  }
  &__input:hover {
    cursor: pointer;
  }
  &__box {
    align-items: center;
    background-color: white;
    background: linear-gradient(to right, white 80%, black 20%);
    border-radius: 10px;
    height: 55px;
    padding-left: 10px;
    max-width: 350px;
    width: 88%;
    position: relative;
  }
  &__arrow-icon {
    position: absolute;
    top: 37%;
    left: 88%;
  }
  &__arrow-icon:hover {
    cursor: pointer;
  }
}
