*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

.search-bar {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar__title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 45px;
}
.search-bar__bg-image {
  background-image: url("../images/pattern-bg.png");
  background-repeat: none;
  background-position: 50%;
  background-size: cover;
  padding-bottom: 175px;
  padding-top: 150px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-bar__input {
  border-radius: 10px;
  border: none;
  font-size: 16px;
  height: 45px;
  outline: none;
  width: 75%;
  padding-top: 10px;
}
.search-bar__input:hover {
  cursor: pointer;
}
.search-bar__box {
  align-items: center;
  background-color: white;
  background: linear-gradient(to right, white 80%, black 20%);
  border-radius: 10px;
  height: 55px;
  padding-left: 10px;
  max-width: 350px;
  width: 88%;
  position: relative;
}
.search-bar__arrow-icon {
  position: absolute;
  top: 37%;
  left: 88%;
}
.search-bar__arrow-icon:hover {
  cursor: pointer;
}

.ip-card-container {
  min-width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -160px;
  z-index: 500;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  padding-bottom: 16px;
  max-width: 350px;
  width: 100%;
}
.card__heading {
  color: hsl(0deg, 0%, 59%);
  font-family: Rubik;
  font-size: 10px;
  font-weight: 700;
  padding-top: 16px;
}
.card__text {
  color: hsl(0deg, 0%, 17%);
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
}

.heading-text-container {
  text-align: center;
}

.leaflet-container {
  min-height: 550px;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: -140px;
}

@media (min-width: 0) {
  .card {
    position: absolute;
  }
}
@media (min-width: 920px) {
  .ip-card-container {
    min-width: 1110px;
  }
  .card {
    min-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -100px;
  }
  .heading-text-container {
    text-align: left;
  }
  .heading-text-container:nth-child(-n+3) p::after {
    content: "";
    position: absolute;
    background-color: rgb(201, 200, 200);
    width: 1px;
    height: 80%;
    top: 7px;
    bottom: 3px;
    margin-left: 7%;
  }
}
.error-msg {
  color: rgb(247, 169, 169);
  margin-top: -150px;
  font-weight: 700;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */